.c-gallery {
  &__image {
    object-fit: fill !important;
    width: em(300);
    height: em(300);
    padding: $em-16;
    border-radius: $em-32;
  }
}

swiper-container {
  --swiper-navigation-color: $neutral-white;
  --swiper-navigation-size: $em-32;
  width: 100%;
  height: 100%;
}
