.c-header-detail {
  display: flex;
  align-items: center;
  gap: $em-16;
  $header-detail: &;

  &__photo {
    width: em(45);
    height: em(45);
    border-radius: 50%;
    @include tablet() {
      width: em(50);
      height: em(50);
    }
    @include desktop() {
      width: em(55);
      height: em(55);
    }
  }

  &__title-description {
    display: flex;
    flex-direction: column;
    gap: $em-4;
  }

  &.is-with-clicked-photo {
    #{$header-detail}__photo {
      cursor: pointer;
    }
  }
}