.c-header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: $z-modal;
  background-color: $neutral-black;
  padding: em(18);
  $header: &;

  &__user-and-photo {
    display: flex;
    align-items: center;
    gap: $em-16;

  }

  &__user-photo {
    width: em(45);
    height: em(45);
    border-radius: 50%;
    @include tablet() {
      width: em(50);
      height: em(50);
    }
    @include desktop() {
      width: em(55);
      height: em(55);
    }
  }

  &__title-description {
    display: flex;
    flex-direction: column;
    gap: $em-4;
  }

  &--is-with-preferences {
    #{$header}__user-photo {
      cursor: pointer;
    }

  }

  &--is-for-article-page {
    position: absolute;
    background-color: transparent;
  }

  &__preferences {
    background-color: $accent-first;
    padding: em(18);
    display: grid;
    gap: $em-16;
    max-width: 84vw;
    border-radius: $em-16;
    position: fixed;
    transform: translateY(65%);
    z-index: $z-modal;
  }
}
