.c-header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: $z-modal;
  background-color: $neutral-black;
  padding: em(18);
  $header: &;

  &--is-with-preferences {
    #{$header}__user-photo {
      cursor: pointer;
    }
  }

  &--is-for-article-page {
    position: absolute;
    background-color: transparent;
  }

  &__preferences {
    background-color: $accent-first;
    padding: em(18);
    display: grid;
    gap: $em-16;
    max-width: 84vw;
    border-radius: $em-16;
    position: fixed;
    transform: translateY(65%);
    z-index: $z-modal;
  }
}