.c-input {
  display: flex;
  flex-direction: column;
  gap: $em-12;

  &__container {
    display: flex;
    align-items: center;
    padding: $em-14;
    gap: $em-8;
    background-color: $accent-second;
    color: $neutral-white;
    border-radius: $em-8;

    &-svg {
      width: $em-20;
      height: $em-20;
    }
  }

  &__text {
    color: $neutral-white;
    background-color: transparent;
    width: 100%;

    &-area {
      background-color: $accent-second;
      padding: $em-14;
      border-radius: $em-8;
    }
  }

  &__icon {
    fill: $neutral-white;
  }
}
