.c-preferences {
  display: none;
  $preferences: &;

  &.is-active {
    background-color: $accent-first;
    position: fixed;
    transform: translateY(65%);
    padding: em(18);
    display: grid;
    gap: $em-16;
    max-width: 84vw;
    border-radius: $em-16;
    z-index: $z-modal;
    //left: em(18);
  }
}
