<ng-template [ngIf]="this.showHeader">
    <div [ngClass]="{ 'c-header--is-for-article-page': isForArticlePage,
    'c-header--is-with-preferences': isWithPreferences}"
         class="c-header o-layout-max-width">
        <app-header-detail (clickedPhoto)="togglePreferences()" [headerDetail]="this.headerDetail"
                           [withClickedPhoto]="this.isWithPreferences" [withDescription]="false"/>
        <ng-template [ngIf]="this.isWithBack">
            <app-button
                    (click)="this.redirectToBack()"
                    [description]="'Volver'"
                    [typeButton]="TypeButton.Back"/>
        </ng-template>
    </div>
</ng-template>
<ng-template [ngIf]="this.isWithPreferences && this.showPreferences">
    <div class="c-header__preferences">
        <ng-template [ngIf]="this.isWithButtonEditProfile">
            <app-button
                    (click)="this.navigateToEditProfile()"
                    [description]="'Editar perfil'"
                    [icon]="Icon.Edit"
                    [typeButton]="TypeButton.Secondary"/>
        </ng-template>
        <app-button
                [description]="'Cerrar sesión'"
                [icon]="Icon.Logout"
                [typeButton]="TypeButton.Secondary"/>
    </div>
</ng-template>
