<div
  [class.c-header--back]="this.isBack"
  [class.is-active-preferences]="this.withPreferences"
  class="c-header o-layout-max-width">
  <div class="c-header__user-and-avatar">
    <img
      (click)="togglePreferences()"
      alt=""
      class="c-header__user-avatar"
      src="{{ this.image }}" />
    <ng-container *ngIf="this.withDescription; else elseBlock">
      <div class="c-header__title-description o-text-ellipsis">
        <span class="o-text-lg-bold o-text-ellipsis">{{ this.title }}</span>
        <span class="o-text-sm-ligh o-text-ellipsis">{{ this.description }}</span>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <span class="o-text-lg-bold">{{ this.title }}</span>
    </ng-template>
  </div>
  <ng-template [ngIf]="this.isBack">
    <app-button
      (click)="this.redirectToBack()"
      [description]="'Volver'"
      [typeButton]="TypeButton.Back" />
  </ng-template>
</div>

<ng-template [ngIf]="this.withPreferences">
  <div [class.is-active]="this.isActive" class="c-preferences">
    <app-button
      [description]="'Editar perfil'"
      [icon]="'edit'"
      [typeButton]="TypeButton.Secondary" />
    <app-button
      [description]="'Cerrar sesión'"
      [icon]="'logout'"
      [typeButton]="TypeButton.Secondary" />
  </div>
</ng-template>
