<div class="c-header">
    <img (click)="togglePreferences()" alt="" class="c-header__user-avatar" src="assets/images/avatar.png">
    <span class="o-text-lg-bold">Victor Arreaga</span>
</div>

<div [class.is-active]="this.isActive" class="c-preferences">
    <button class="c-preferences__button">
        <svg class="c-preferences__button-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path class="c-preferences__button-icon-path"
                  d="M16 2.5a1.5 1.5 0 0 1 1.06 2.56L9.62 12.5H7.5v-2.12l7.44-7.44A1.5 1.5 0 0 1 16 2.5Z"/>
            <path class="c-preferences__button-icon-path" clip-rule="evenodd"
                  d="M2 6a2 2 0 0 1 2-2h4a1 1 0 0 1 0 2H4v10h10v-4a1 1 0 0 1 2 0v4a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6Z"
                  fill-rule="evenodd"/>
        </svg>
        <span class="c-preferences__button-text o-text-base-semibold">Editar perfil</span>
    </button>
    <button class="c-preferences__button">
        <svg class="c-preferences__button-icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path class="c-preferences__button-icon-path"
                  d="m14.347 6.64.006.007 3 3a.5.5 0 0 1 0 .706l-2.996 2.997a.5.5 0 0 1-.707-.707l1.29-1.29.853-.853H7a.5.5 0 0 1 0-1h8.793l-.853-.854-1.293-1.293-.007-.006a.5.5 0 1 1 .707-.707Zm-11.7-2.994A.5.5 0 0 1 3.5 4v12a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .146-.354Z"/>
        </svg>

        <span class="c-preferences__button-text o-text-base-semibold">Cerrar sesión</span>
    </button>
</div>