.c-view-rating-card {
  @include column($em-16);
  padding: $em-16;
  background-color: $accent-second;
  border-radius: $em-16;

  &__header-rating {
    @include row($em-16);
    justify-content: space-between;
  }
}