.c-add-rating-card {
  display: flex;
  flex-direction: column;
  padding: $em-16;
  gap: $em-16;
  background-color: $accent-second;
  border-radius: $em-16;

  &__title-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $em-8;
  }

  &__score-rating {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    fill: $neutral-white;
  }
}