.c-button {
    @include only-sm() {
        background-color: $neutral-black;
        color: $neutral-white;
        // font-weight: 300;
        border: 2px solid $neutral-white;
    }

    @include md() {
        background-color: red;
        color: $neutral-white;
        // font-weight: 500;
        border: 2px solid $neutral-white;
    }

    @include lg() {
        background-color: $neutral-white;
        color: $accent-first;
        // font-weight: 700;
        border: 1px solid $accent-first;
    }

}