.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  $header: &;

  &__user-and-avatar {
    display: flex;
    align-items: center;
    gap: $em-16;
  }

  &__user-avatar {
    width: em(45);
    height: em(45);
    border-radius: 50%;
    @include tablet() {
      width: em(50);
      height: em(50);
    }
    @include desktop() {
      width: em(55);
      height: em(55);
    }
  }

  &__title-description {
    display: flex;
    flex-direction: column;
    gap: $em-4;
  }

  &.is-active-preferences {
    position: fixed;
    width: 100%;
    z-index: $z-modal;
    background-color: $neutral-black;
    padding: em(18);

    &#{$header}__user-avatar {
      cursor: pointer;
    }

    &#{$header}--back {
      background-color: transparent;
      position: absolute;
    }
  }
}
