.c-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: $em-18;
  left: 50%;
  transform: translateX(-50%);
  background-color: $neutral-black;
  padding: $em-18 $em-14;
  box-shadow: $shadow-sm;
  border-radius: $em-20;
  z-index: $z-modal;
  max-width: 500px;

  @include only-mobile() {
    width: 80%;
  }
  @include tablet() {
    width: 55vw;
  }

  @include desktop() {
    width: 30vw;
  }

  $menu: &;

  &__item {
    padding: $em-8;
    cursor: pointer;

    &.is-selected {
      padding: $em-12;
      background-color: $accent-third;
      border-radius: $em-16;

      #{$menu}__icon {
        fill: $neutral-white;
        stroke: $neutral-white;
      }
    }
  }

  &__icon {
    display: grid;
    fill: $accent-third;
    stroke: $accent-third;
  }
}
