.c-preferences {
  display: none;
  $preferences: &;

  &__button {
    #{$preferences}.is-active & {
      display: flex;
      align-items: center;
      gap: $em-16;
      background-color: $accent-third;
      padding: em(18);
      border-radius: $em-16;
      border: none;
      cursor: pointer;
      z-index: $z-modal;

      &-icon {
        width: em(30);

        &-path {
          stroke: $neutral-white;
          fill: $neutral-white;
        }

        @include md {
          width: em(45);
        }

        @include lg {
          width: em(50);
        }
      }

      &-text {
        color: $neutral-white;
      }
    }
  }

  &.is-active {
    background-color: $accent-first;
    padding: em(18);
    display: flex;
    flex-direction: column;
    gap: $em-16;
    max-width: 84vw;
    border-radius: $em-16;
    position: fixed;
    z-index: $z-modal;
  }
}