.c-select {
  display: flex;
  align-items: center;
  padding: $em-14;
  gap: $em-8;
  background-color: $accent-second;
  color: $neutral-white;
  border-radius: $em-8;
  justify-content: space-between;

  &__content {
    text-overflow: ellipsis;
    overflow: hidden;
    color: $neutral-white;
    background-color: $accent-second;
    appearance: none;
    padding-right: $em-16;
    width: 100%;
  }

  &__icon {
    width: em(20);
    display: flex;
    align-items: center;
    justify-content: center;

    & > path {
      stroke: $neutral-white;
    }
  }
}