.c-view-rating-card {
  display: flex;
  flex-direction: column;
  padding: $em-16;
  gap: $em-16;
  background-color: $accent-second;
  border-radius: $em-16;

  &__header-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $em-16;
  }
}