.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $em-8;
  border-radius: $em-8;
  padding: $em-16 $em-20;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  $button: &;
  box-shadow: $shadow-md;

  &__icon {
    display: grid;
    fill: $accent-first;
    stroke: $accent-first;
  }

  &--primary {
    background-color: $neutral-white;
  }

  &--secondary {
    background-color: $accent-third;
    color: $neutral-white;

    #{$button}__icon {
      stroke: $neutral-white;
      fill: $neutral-white;
    }
  }

  &--contact {
    background-color: $accent-contact-first;
    color: $accent-contact-second;

    #{$button}__icon {
      stroke: $accent-contact-second;
      fill: $accent-contact-second;
    }
  }

  &--tag {
    padding: $em-8 $em-6;
    background-color: $accent-third;
    color: $neutral-white;
    cursor: initial;

    #{$button}__icon {
      stroke: $neutral-white;
      fill: $neutral-white;
    }
  }
}