<div class="c-publish-article-page {{getLayout()}}">
    <app-input
            (textChanged)="this.onTitleChanged($event)"
            [icon]="Icon.Edit"
            [placeholder]="'Ingresa el nombre del artículo'"
            [value]="this.article.title"
            [title]="'Título'"/>
    <app-select
            (selectedOption)="onSelectedCategory($event)"
            [options]="this.categories"
            [optionSelected]="this.article.category"
            [title]="'Categorías'"/>
    
    <div [class.double-column]="this.withGender"
         class="c-publish-article-page__gender-state">
        <ng-template [ngIf]="this.withGender">
            <app-select (selectedOption)="onSelectedGender($event)"
                        [options]="this.genders"
                        [optionSelected]="this.article.gender"
                        [title]="'Género'"/>
        </ng-template>
        <app-select (selectedOption)="onSelectedState($event)"
                    [options]="this.states"
                    [optionSelected]="this.article.state"
                    [title]="'Estado'"/>
    </div>
    <app-input (textChanged)="this.onDescriptionChanged($event)"
               [isTextArea]="true"
               [placeholder]="'Ingresa la descripción del artículo'"
               [title]="'Descripción'"
               [value]="this.article.description"/>
    <span class="o-text-xl-semibold">Galería</span>
    <ng-template [ngIf]="this.containsImages">
        <app-gallery [images]="this.images"/>
    </ng-template>
    
    <div [class.c-publish-article-page__gallery-buttons]="this.containsImages">
        <app-button [description]="'Cargar foto'"
                    [icon]="Icon.Camera"
                    [typeButton]="TypeButton.Secondary"/>
        <ng-template [ngIf]="this.containsImages">
            <app-button (click)="this.onDeleteImages()"
                        [description]="'Eliminar fotos'"
                        [icon]="Icon.Delete"
                        [typeButton]="TypeButton.Secondary"/>
        </ng-template>
    </div>
    <div (click)="this.publishArticle()"
         class="c-publish-article-page__container-proposed">
        <app-button [description]="'Publicar artículo'"
                    [icon]="Icon.Save"
                    [typeButton]="TypeButton.Primary"/>
    </div>
</div>