<app-header [isForBanner]="true" [title]="'Artículo'"/>
<div class="c-article-page">
    <div class="c-article-page__banner">
        <img class="c-article-page__banner-image" src="{{ this.article.image }}"/>
        <div class="c-article-page__banner-container">
      <span class="c-article-page__banner-title o-text-xl-semibold">{{
          this.article.title
          }}</span>
            <span class="c-article-page__banner-description o-text-normal-medium">{{
                this.article.description
                }}</span>
            <span class="c-article-page__banner-date-published o-text-sm-light">{{
                this.article.datePublished
                }}</span>
        </div>
        <div class="c-article-page__banner-buttons">
            <app-button
                    [description]="this.article.state"
                    [icon]="Icon.State"
                    [typeButton]="TypeButton.Tag"
            />
            <app-button
                    [description]="this.proposalsQuantity"
                    [typeButton]="TypeButton.Tag"
            />
        </div>
    </div>
    <div class="c-article-page__content">
        <span class="o-text-xl-semibold">Publicador</span>
        <div class="c-article-page__user-card">
            <app-header
                    [image]="this.article.user.photo"
                    [title]="this.article.user.name"
                    [withPreferences]="false"
            />
            <span class="o-text-base-normal">
        {{ this.article.user.description }}</span
            >
            <div class="c-article-page__user-card-buttons">
                <app-button
                        [description]="this.rating"
                        [icon]="Icon.Star"
                        [typeButton]="TypeButton.Tag"
                />
                <app-button
                        [description]="this.exchangesQuantity"
                        [icon]="Icon.Exchanges"
                        [typeButton]="TypeButton.Tag"
                />
            </div>
        </div>
        <app-gallery [images]="this.article.gallery"/>
        <div class="c-article-page__buttons">
            <ng-template [ngIf]="!this.isSuggest">
                <app-button
                        (click)="this.onSuggestOrProposedArticle()"
                        [description]="this.isProposed ? 'Aceptar intercambio' : 'Proponer artículo'"
                        [icon]="this.isProposed ? Icon.Exchanges : Icon.Hand"
                        [typeButton]="TypeButton.Primary"
                />
            </ng-template>
            <ng-template [ngIf]="this.isProposed">
                <app-button
                        (click)="this.onContactWhatsApp()"
                        [description]="'Contactar por WhatsApp'"
                        [typeButton]="TypeButton.Contact"
                />
            </ng-template>

        </div>
    </div>
</div>
