<app-header [title]="'Artículo'"/>

<ng-template [ngIf]="this.service.isWorking">
    <span class="o-text-2xl-bold">Cargando...</span>
</ng-template>

<div *ngIf="this.service.isCompleted" class="c-article-page">
    <div class="c-article-page__banner">
        <img class="c-article-page__banner-image" src="{{ this.service.articlePage.image }}"/>
        <div class="c-article-page__banner-container">
            <span class="c-article-page__banner-title o-text-xl-semibold">{{this.service.articlePage.title}}</span>
            <span class="c-article-page__banner-description o-text-normal-medium">{{this.service.articlePage.description}}</span>
            <span class="c-article-page__banner-date-published o-text-sm-light">{{this.service.articlePage.date}}</span>
        </div>
        <div class="c-article-page__banner-buttons">
            <app-button [description]="this.service.articlePage.state"
                        [icon]="Icon.State"
                        [typeButton]="TypeButton.Tag"/>
            <app-button [description]="this.numberProposals(this.service.articlePage.numbersProposals)"
                        [typeButton]="TypeButton.Tag"/>
        </div>
    </div>
    <div class="c-article-page__content">
        <span class="o-text-xl-semibold">Publicador</span>
        <div class="c-article-page__user-card">
            <app-header-detail [headerDetail]="this.service.headerDetail"/>
            <span class="o-text-base-normal"> {{ this.service.articlePage.user.about }}</span>
            <div class="c-article-page__user-card-buttons">
                <app-button [description]="this.service.user.rating.toString()"
                            [icon]="Icon.Star"
                            [typeButton]="TypeButton.Tag"/>
                <app-button [description]="this.numbersOfExchanges(this.service.user.numberOfExchanges)"
                            [icon]="Icon.Exchanges"
                            [typeButton]="TypeButton.Tag"/>
            </div>
        </div>
        <span class="o-text-xl-semibold">Galería</span>
        <app-gallery [images]="this.service.articlePage.images"/>

        <ng-template [ngIf]="this.isExchangeArticle">
            <div class="c-article-page__buttons">
                <app-button (click)="this.onAcceptProposedArticle()"
                            [description]="'Aceptar intercambio'"
                            [icon]="Icon.Exchanges"
                            [typeButton]="TypeButton.Primary"/>

                <app-button (click)="this.onContactWhatsApp()"
                            [description]="'Contactar por WhatsApp'"
                            [typeButton]="TypeButton.Contact"/>
            </div>
        </ng-template>

        <ng-template [ngIfElse]="showMessagesTemplate" [ngIf]="this.acceptSuggest">
            <div class="c-article-page__buttons">
                <app-button (click)="this.onSuggestArticle()"
                            [description]="'Proponer artículo'"
                            [icon]="Icon.Hand"
                            [typeButton]="TypeButton.Primary"/>
            </div>
        </ng-template>
        <ng-template #showMessagesTemplate>
            <ng-template [ngIf]="!this.service.isMyArticle && this.service.isProposed">
                <span class="o-text-sm-bold">Existe una propuesta de intercambio</span>
            </ng-template>
        </ng-template>
    </div>
</div>