<div class="{{getLayout()}}">
    <div class="c-tabs">
        <input checked class="c-tabs__radio" id="tab1" name="tabs" type="radio"/>
        <label class="c-tabs__label" for="tab1">Publicaciones</label>
        <div class="c-tabs__wrapper-content">
            <div class="c-tabs__content">
                <app-input
                        [icon]="Icon.Search"
                        [placeholder]="'Nombre del artículo'"
                        class="o-layout-width-100"/>
                <app-select
                        (selectedOption)="this.onSelectedTypeArticle($event)"
                        [options]="this.typeArticles"
                        [label]="'Artículos:'"
                        class="o-layout-width-100"/>
                <div class="o-layout-article-cards">
                    <ng-template [ngIfElse]="proposedTemplate" [ngIf]="isPublished">
                        <app-published-article-card
                                (deleteArticle)="onDeleteArticle(articleCard.id)"
                                *ngFor="let articleCard of this.articleCards"
                                [articleCard]="articleCard"/>
                    </ng-template>
                    <ng-template #proposedTemplate>
                        <app-proposed-article-card
                                (deleteProposed)="onDeleteProposed(articleCard.id)"
                                *ngFor="let articleCard of this.articleCards"
                                [articleCard]="articleCard"/>
                    </ng-template>
                </div>
            </div>
        </div>
        <input class="c-tabs__radio" id="tab2" name="tabs" type="radio"/>
        <label class="c-tabs__label" for="tab2">Calificaciones</label>
        <div class="c-tabs__wrapper-content">
            <div class="c-tabs__content">
                <app-select
                        (selectedOption)="this.onSelectedRating($event)"
                        [label]="'Ordenar por:'"
                        [options]="this.filterRatings"
                        class="o-layout-width-100"/>
                <div class="c-tabs__content-row o-layout-width-100 ">
                    <span class="o-text-lg-semibold o-layout-width-100 ">{{ this.viewRatingCards.length }}
                        resultados </span>
                    <app-button [description]="this.averageRating" [icon]="Icon.Star"
                                [typeButton]="TypeButton.Secondary"/>
                </div>

                <div class="o-layout-view-rating-cards">
                    <app-view-rating-card *ngFor="let viewRatingCard of this.viewRatingCards"
                                          [viewRatingCard]="viewRatingCard"/>
                </div>
            </div>
        </div>
    </div>
</div>
