<app-header />

<div class="o-layout-spacing">
  <div class="c-tabs">
    <input type="radio" class="c-tabs__radio" name="tabs" id="tab1" checked />
    <label for="tab1" class="c-tabs__label">Publicaciones</label>
    <div class="c-tabs__wrapper-content">
      <div class="c-tabs__content">
        <app-input [icon]="'search'" [placeholder]="'Nombre del artículo'" />
        <app-select [options]="this.typeArticles" />
      </div>
    </div>
    <input type="radio" class="c-tabs__radio" name="tabs" id="tab2" />
    <label for="tab2" class="c-tabs__label">Calificaciones</label>
    <div class="c-tabs__wrapper-content">
      <div class="c-tabs__content">
        <span>Text2</span>
        <input
          type="text"
          class="c-explore__search o-text-base-medium"
          placeholder="Search for a project"
        />
      </div>
    </div>
  </div>
</div>
