<div class="{{getLayout()}}">
    <div class="c-tabs">
        <input checked class="c-tabs__radio" id="tab1" name="tabs" type="radio"/>
        <label class="c-tabs__label" for="tab1">Publicaciones</label>
        <div class="c-tabs__wrapper-content">
            <div class="c-tabs__content">
                <app-input
                        (textChanged)="onTextSearchChanged($event)"
                        [icon]="Icon.Search"
                        [placeholder]="'Nombre del artículo'"
                        class="o-layout-width-100"/>
                <app-select
                        (selectedOption)="this.onSelectedTypeArticle($event)"
                        [options]="this.typeArticles"
                        [label]="'Artículos:'"
                        class="o-layout-width-100"/>
                <ng-template [ngIf]="this.service.isWorking">
                    <span class="o-text-2xl-bold">Cargando...</span>
                </ng-template>
                <div class="o-layout-article-cards">
                    <ng-template [ngIf]="this.service.isCompleted">
                        <ng-template [ngIf]="this.service.isPublished">
                            <app-published-article-card
                                    (deleteArticle)="onDeleteArticle(articleCard.id)"
                                    *ngFor="let articleCard of this.service.articlesCards"
                                    [articleCard]="articleCard"/>
                        </ng-template>
                        <ng-template [ngIf]="this.service.isProposed">
                            <app-proposed-article-card
                                    (deleteProposed)="onDeleteProposed(articleCard.id)"
                                    *ngFor="let articleCard of this.service.articlesCards"
                                    [articleCard]="articleCard"
                                    [isExchangeArticle]="false"
                                    [showReceiverArticle]="true"/>
                        </ng-template>

                        <ng-template [ngIf]="this.service.isExchanged">
                            <app-article-card
                                    *ngFor="let articleCard of this.service.articlesCards"
                                    [articleCard]="this.incrementNumberProposals(articleCard)"/>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </div>
        <input class="c-tabs__radio" id="tab2" name="tabs" type="radio"/>
        <label class="c-tabs__label" for="tab2">Calificaciones</label>
        <div class="c-tabs__wrapper-content">
            <div class="c-tabs__content">
                <app-select
                        (selectedOption)="this.onSelectedRating($event)"
                        [label]="'Ordenar por:'"
                        [options]="this.filterRatings"
                        class="o-layout-width-100"/>
                <div class="c-tabs__content-row o-layout-width-100 ">
                    <span class="o-text-lg-semibold o-layout-width-100 ">{{ this.serviceRating.ratings.length }}
                        resultados </span>
                    <ng-template [ngIf]="this.service.isWorking">
                        <span class="o-text-lg-semibold"> Cargando...</span>
                    </ng-template>

                    <app-button *ngIf="this.serviceRating.isCompleted"
                                [description]="this.serviceRating.averageRating.toString()" [icon]="Icon.Star"
                                [typeButton]="TypeButton.Secondary"/>
                </div>
                <ng-template [ngIf]="this.serviceRating.isCompleted">
                    <div class="o-layout-view-rating-cards">
                        <app-view-rating-card *ngFor="let viewRatingCard of this.serviceRating.ratings"
                                              [viewRatingCard]="viewRatingCard"/>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
