.c-article-page {
  display: flex;
  flex-direction: column;
  gap: $em-24;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $em-24;
    padding: 0 $em-18 $em-18;
  }

  &__banner {
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(22, 29, 34, 0.35) 0%,
      #040404 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $em-24;
    padding: em(100) $em-18 $em-18;

    &-image {
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
      z-index: $z-back;
      height: 100%;
      width: 100%;
    }

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: $em-12;
    }

    &-buttons {
      display: flex;
      align-items: center;
      gap: $em-8;
    }
  }

  &__user-card {
    display: flex;
    flex-direction: column;
    gap: $em-16;
    background-color: $accent-second;
    padding: $em-16;
    border-radius: $em-16;
    box-shadow: $shadow-md;

    &-buttons {
      display: flex;
      align-items: center;
      gap: $em-8;
    }
  }

  &__buttons {
    display: flex;
    margin: 0 auto;
    gap: $em-8;
    @include only-mobile {
      flex-direction: column;
    }
  }
}
