.c-article-page {
  @include column($em-24);

  &__content {
    @include column($em-24);
    padding: 0 $em-18 $em-18;
  }

  &__banner {
    position: relative;
    background: linear-gradient(
                    180deg,
                    rgba(22, 29, 34, 0.35) 0%,
                    #040404 100%
    );
    @include column($em-24);
    justify-content: center;
    padding: em(100) $em-18 $em-18;

    &-image {
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
      z-index: $z-back;
      height: 100%;
      width: 100%;
    }

    &-container {
      @include column($em-12);
      justify-content: center;
    }

    &-buttons {
      @include row($em-8);
    }
  }

  &__user-card {
    @include column($em-16);
    background-color: $accent-second;
    padding: $em-16;
    border-radius: $em-16;
    box-shadow: $shadow-md;

    &-buttons {
      @include row($em-8);
    }
  }

  &__buttons {
    display: flex;
    margin: 0 auto;
    gap: $em-8;
    @include only-mobile {
      flex-direction: column;
    }
  }
}
