.c-home-page {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: $em-16;
  }

  &__search {
    padding: $em-14;
    background-color: $accent-second;
    color: $neutral-white;
  }
}
