<div class="c-exchange-card">
    <app-header-detail [headerDetail]="this.headerDetail" [withDescription]="true"/>
    <span class="o-text-base-normal">
        Has elegido intercambiar {{this.exchangeCard.articleToExchange}} con {{this.exchangeCard.articleToReceive}}.
    </span>
    <div class="c-exchange-card__buttons">
        <ng-template [ngIfElse]="showAddRatingTemplate" [ngIf]="!this.showAddRating">
            <app-button (click)="onShowRating()" [description]="'Calificar intercambio'" [icon]="Icon.Star"
                        [typeButton]="TypeButton.Primary"/>
            <app-button (click)="onDiscardExchange()" *ngIf="this.exchangeCard.isDiscarded"
                        [description]="'Descartar intercambio'" [icon]="Icon.Delete"
                        [typeButton]="TypeButton.Secondary"/>
        </ng-template>
        <ng-template #showAddRatingTemplate>
            <app-button (click)="onShowRating()" [description]="'Cerrar'" [icon]="Icon.Delete"
                        [typeButton]="TypeButton.Secondary"/>
        </ng-template>
    </div>
    <ng-template [ngIf]="this.showAddRating">
        <app-add-rating [exchangeId]="this.exchangeCard.id" [userId]="exchangeCard.userId"/>
    </ng-template>
</div>
