<div class="{{getLayout()}}">
    <app-input (textChanged)="this.onTitleSearchChanged($event)"/>
    <app-select (selectedOption)="onSelectedCategory($event)" *ngIf="this.service.isCompleted"
                [options]="this.service.categories"/>
    <ng-template [ngIf]="this.service.isWorking">
        <span class="o-text-lg-semibold"> Cargando...</span>
    </ng-template>
    <span *ngIf="this.service.isCompleted"
          class="o-text-lg-semibold o-layout-width-100 ">{{ this.service.totalArticlesCards }} resultados </span>
    <div *ngIf="this.service.isCompleted" class="o-layout-article-cards">
        <app-suggest-article-card (suggestArticle)="onSuggestArticle($event)"
                                  *ngFor="let articleCard of this.service.articlesCards"
                                  [articleCard]="articleCard"

        />
    </div>
</div>