<app-header/>
<div class="c-home-page o-layout-spacing">
  <div class="c-home-page__inputs">
    <app-input (textChanged)="this.onTextSearchChanged($event)"/>
    <app-select
            (selectedOption)="onSelectedCategory($event)"
            [options]="this.categories"
    />
    <app-select
            (selectedOption)="onSelectedState($event)"
            [label]="'Ordenar por estado:'"
            [options]="this.states"
    />
  </div>
  <span class="o-text-lg-semibold"
    >{{ this.articleCards.length }} resultados
  </span>
  <div class="o-layout-article-cards">
    <app-article-card
            (click)="navigateTo(articleCard.id)"
            *ngFor="let articleCard of this.articleCards"
            [articleCard]="articleCard"
    />
  </div>
</div>
