<app-header />
<div class="c-explore o-layout-spacing">
  <div class="c-explore__inputs">
    <app-input (textChanged)="this.onTextSearchChanged($event)" />
    <app-select
      (selectedOption)="onSelectedState($event)"
      [options]="this.categories"
    />
    <app-select
      (selectedOption)="onSelectedCategory($event)"
      [label]="'Ordenar por estado:'"
      [options]="this.states"
    />
  </div>
  <span class="o-text-lg-semibold"
    >{{ this.articleCards.length }} resultados
  </span>
  <div class="o-layout-article-cards">
    <app-article-card
      (click)="redirectToViewArticle(articleCard)"
      *ngFor="let articleCard of this.articleCards"
      [articleCard]="articleCard"
    />
  </div>
</div>
