<div class="c-home-page  {{getLayout()}}">
    <div class="c-home-page__inputs">
        <app-input (textChanged)="this.onTextSearchChanged($event)"/>
        <app-select (selectedOption)="onSelectedCategory($event)"
                    [options]="this.categories"/>
        <app-select (selectedOption)="onSelectedState($event)"
                    [label]="'Ordenar por estado:'"
                    [options]="this.states"/>
    </div>
    <span *ngIf="this.service.isCompleted()" class="o-text-lg-semibold">{{ this.service.totalArticlesCards }}
        resultados</span>
    <div class="o-layout-article-cards">

        <ng-template [ngIf]="this.service.isWorking()">
            <span class="o-text-lg-semibold"> Cargando...</span>
        </ng-template>

        <ng-template [ngIf]="this.service.isCompleted()">
            <app-article-card *ngFor="let articleCard of this.service.articlesCards"
                              [articleCard]="articleCard"/>
        </ng-template>
    </div>
</div>
