<div [class.is-with-clicked-photo]="this.withClickedPhoto" class="c-header-detail">
    <img (click)="this.onClickedPhoto()"
         alt="{{this.headerDetail.title}}"
         class="c-header-detail__photo" src="{{ this.headerDetail.photo}}"/>
    <div class="c-header-detail__title-description o-text-ellipsis">
        <span class="o-text-lg-bold o-text-ellipsis">{{ this.headerDetail.title }}</span>
        <ng-template [ngIf]="this.withDescription">
            <span class="o-text-sm-light o-text-ellipsis">{{ this.headerDetail.description }}</span>
        </ng-template>
    </div>
</div>