.o-layout {
  &-max-width {
    max-width: $break-desktop;
    margin: 0 auto;
  }

  &-spacing {
    display: flex;
    flex-direction: column;
    gap: $em-24;
    padding: em(100) $em-18 em(136);
  }

  &-width-100 {
    width: 100%;
  }

  &-article-cards {
    display: grid;
    grid-gap: $em-24;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax($article-size-sm, 1fr));

    @include tablet() {
      grid-template-columns: repeat(auto-fill, minmax($article-size-md, 1fr));
    }
    @include desktop() {
      grid-template-columns: repeat(auto-fill, minmax($article-size-lg, 1fr));
    }
  }
}
