.o-text {
  @each $size, $value in $font-sizes {
    &-#{$size} {
      &-thin {
        @include set-font-style(100, #{$size});
      }

      &-extra-light {
        @include set-font-style(200, #{$size});
      }

      &-light {
        @include set-font-style(300, #{$size});
      }

      &-regular {
        @include set-font-style(400, #{$size});
      }

      &-medium {
        @include set-font-style(500, #{$size});
      }

      &-semibold {
        @include set-font-style(600, #{$size});
      }

      &-bold {
        @include set-font-style(700, #{$size});
      }
    }
  }

  &-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}