<app-article-card [articleCard]="articleCard" [typeArticleCard]="TypeArticleCard.Proposed">
    <app-button (click)="onViewPublication()"
                [icon]="Icon.View"
                [description]="'Ver publicación'"
                [typeButton]="TypeButton.Primary"
                class="c-article-card__button"/>
    <app-button (click)="onDeleteProposed()"
                [description]="'Eliminar propuesta'"
                [icon]="Icon.Delete"
                [typeButton]="TypeButton.Secondary"
                class="c-article-card__button"/>
</app-article-card>