@mixin _media-top-up($mq) {
  @media (min-width: $mq) {
    @content;
  }
}

@mixin _media-top-down($mq) {
  @media (max-width: $mq) {
    @content;
  }
}

@mixin _media-between($mq-min, $mq-max) {
  @media (min-width: $mq-min) and (max-width: $mq-max) {
    @content;
  }
}

@mixin only-mobile() {
  @include _media-top-down($break-tablet) {
    @content;
  }
}

@mixin tablet() {
  @include _media-top-up($break-tablet + 1) {
    @content;
  }
}

@mixin only-tablet() {
  @include _media-between($break-tablet + 1, $break-desktop) {
    @content;
  }
}

@mixin desktop() {
  @include _media-top-up($break-desktop + 1) {
    @content;
  }
}

@mixin only-desktop() {
  @include _media-between($break-desktop + 1, 1991px) {
    @content;
  }
}

@mixin _set-value-from-size($values) {
  @each $key,
  $value in $values {
    #{$key}: $value;
  }
}

@mixin set-values-from-sizes($values) {
  $values-sm: map-get($values, 'sm');
  $values-md: map-get($values, 'md');
  $values-lg: map-get($values, 'lg');

  @include _set-value-from-size($values-sm);

  @include tablet {
    @include _set-value-from-size($values-md);
  }

  @include desktop {
    @include _set-value-from-size($values-lg);
  }
}

@mixin set-font-style($weight, $size) {
  font-weight: $weight;
  @include set-values-from-sizes(map-get($font-sizes, $size));
}