@mixin media-top-up($mq) {
  @media (min-width: $mq) {
    @content;
  }
}

@mixin media-top-down($mq) {
  @media (max-width: $mq) {
    @content;
  }
}

@mixin media-between($mq-min, $mq-max) {
  @media (min-width: $mq-min) and (max-width: $mq-max) {
    @content;
  }
}

@mixin only-sm() {
  @include media-top-down($break-tablet) {
    @content;
  }
}

@mixin md() {
  @include media-top-up($break-tablet + 1) {
    @content;
  }
}

// 611px and 1190px (included)
@mixin only-md() {
  @include media-between($break-tablet + 1, $break-desktop) {
    @content;
  }
}

// 1991px (included) and infinity
@mixin lg() {
  @include media-top-up($break-desktop + 1) {
    @content;
  }
}

@mixin a-set-values($values) {

  @each $key,
  $value in $values {
    #{$key}: $value;
  }
}

@mixin a-set($values) {
  $values-sm: map-get($values, 'sm');
  $values-md: map-get($values, 'md');
  $values-lg: map-get($values, 'lg');

  @include a-set-values($values-sm);

  @include md {
    @include a-set-values($values-md);
  }

  @include lg {
    @include a-set-values($values-lg);
  }
}

@mixin set-font-style($weight, $size) {
  font-weight: $weight;
  @include a-set(map-get($font-sizes, $size));
}